<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
   <!-- Configurations that affect the Test Framework -->
   <RunConfiguration>
       <MaxCpuCount>1</MaxCpuCount>
       <ResultsDirectory>.\TestResults</ResultsDirectory><!-- Path relative to solution directory -->
       <TestSessionTimeout>60000</TestSessionTimeout><!-- Milliseconds -->
   </RunConfiguration>

   <!-- Adapter Specific sections -->
   <Catch2Adapter>
       <DebugBreak>on</DebugBreak><!-- Introduced in v1.1.0 -->
       <DiscoverCommandLine>--list-tests *</DiscoverCommandLine>
       <DiscoverTimeout>500</DiscoverTimeout><!-- Milliseconds -->
       <FilenameFilter>^Catch_</FilenameFilter><!-- Regex filter -->
       <IncludeHidden>true</IncludeHidden>
       <Logging>normal</Logging>
       <MessageFormat>StatsOnly</MessageFormat>
       <StackTraceFormat>ShortInfo</StackTraceFormat>
       <TestCaseTimeout>20000</TestCaseTimeout><!-- Milliseconds -->
       <WorkingDirectory>..\TestData</WorkingDirectory>
       <WorkingDirectoryRoot>Executable</WorkingDirectoryRoot>
   </Catch2Adapter>

</RunSettings>